<ac:structured-macro ac:name="toc">
  <ac:parameter ac:name="printable">true</ac:parameter>
  <ac:parameter ac:name="style">disc</ac:parameter>
  <ac:parameter ac:name="maxLevel">2</ac:parameter>
  <ac:parameter ac:name="minLevel">1</ac:parameter>
  <ac:parameter ac:name="class">rm-contents</ac:parameter>
  <ac:parameter ac:name="exclude"></ac:parameter>
  <ac:parameter ac:name="type">list</ac:parameter>
  <ac:parameter ac:name="outline">false</ac:parameter>
  <ac:parameter ac:name="include"></ac:parameter>
</ac:structured-macro>
<%# Parse classes -%>
<%- if @data['puppet_classes'].any? -%>
  <h1>Puppet classes</h1>
  <%- @data['puppet_classes'].each do |puppet_class| -%>
    <h2><%= puppet_class['name'] %></h2>
    <%- api = puppet_class['docstring']['tags'].select { |a| a['tag_name'].eql? 'api' } -%>
    <%- if api.any? and api[0]['text'].eql? 'private' -%>
      <ac:structured-macro ac:macro-id="a89793b9-e782-4567-95e6-58a6b34d9b9e" ac:name="note" ac:schema-version="1">
        <ac:rich-text-body>
          <p>This class is private. It's intended solely for internal module usage.</p>
        </ac:rich-text-body>
      </ac:structured-macro>
    <%- end -%>
    <h3>Description</h3>
    <p><%= puppet_class['docstring']['text'] %></p>
    <%- for tag in puppet_class['docstring']['tags'] -%>
      <%- unless ['param', 'example', 'api'].include? tag['tag_name'] -%>
        <h3><%= tag['tag_name'].capitalize %></h3>
        <p><%= tag['name'] %> <%= h tag['text'] %> </p>
      <%- end -%>
    <%- end -%>
    <%- params = puppet_class['docstring']['tags'].select { |a| a['tag_name'].eql? 'param' } -%>
    <%- if params.any? -%>
      <h3>Params</h3>
      <ul>
        <%- for param in params -%>
          <li><strong><%= param['name'] %></strong> [ <%= param['types'].join(',') %> ] <%= param['text'] %></li>
        <%- end -%>
      </ul>
    <%- end -%>
    <%- examples = puppet_class['docstring']['tags'].select { |a| a['tag_name'].eql? 'example' } -%>
    <%- if examples.any? -%>
      <h3>Examples</h3>
      <%- for example in examples -%>
        <p><%= example['name'] %></p>
        <ac:structured-macro ac:name="code" ac:schema-version="1">
          <ac:plain-text-body><![CDATA[<%= example['text'] %>]]></ac:plain-text-body>
        </ac:structured-macro>
      <%- end -%>
    <%- end -%>
  <%- end -%>
<%- end -%>
<%# Parse defined types -%>
<%- if @data['defined_types'].any? -%>
  <h1>Defined Types</h1>
  <%- @data['defined_types'].each do |defined_type| -%>
    <h2><%= defined_type['name'] %></h2>
    <%- api = defined_type['docstring']['tags'].select { |a| a['tag_name'].eql? 'api' } -%>
    <%- if api.any? and api[0]['text'].eql? 'private' -%>
      <ac:structured-macro ac:macro-id="a89793b9-e782-4567-95e6-58a6b34d9b9e" ac:name="note" ac:schema-version="1">
        <ac:rich-text-body>
          <p>This defined type is private. It's intended solely for internal module usage.</p>
        </ac:rich-text-body>
      </ac:structured-macro>
    <%- end -%>
    <h3>Description</h3>
    <p><%= defined_type['docstring']['text'] %></p>
    <%- for tag in defined_type['docstring']['tags'] -%>
      <%- unless ['param', 'example', 'api'].include? tag['tag_name'] -%>
        <h3><%= tag['tag_name'].capitalize %></h3>
        <p><%= tag['name'] %> <%= h tag['text'] %> </p>
      <%- end -%>
    <%- end -%>
    <%- params = defined_type['docstring']['tags'].select { |a| a['tag_name'].eql? 'param' } -%>
    <%- if params.any? -%>
      <h3>Params</h3>
      <ul>
        <%- for param in params -%>
          <li><strong><%= param['name'] %></strong> [ <%= param['types'].join(',') %> ] <%= param['text'] %></li>
        <%- end -%>
      </ul>
    <%- end -%>
    <%- examples = defined_type['docstring']['tags'].select { |a| a['tag_name'].eql? 'example' } -%>
    <%- if examples.any? -%>
      <h3>Examples</h3>
      <%- for example in examples -%>
        <p><%= example['name'] %></p>
        <ac:structured-macro ac:name="code" ac:schema-version="1">
          <ac:plain-text-body><![CDATA[<%= example['text'] %>]]></ac:plain-text-body>
        </ac:structured-macro>
      <%- end -%>
    <%- end -%>
  <%- end -%>
<%- end -%>
<%# Parse functions -%>
<%- if @data['puppet_functions'].any? -%>
  <h1>Puppet functions</h1>
  <%- @data['puppet_functions'].each do |puppet_function| -%>
    <h2><%= puppet_function['name'] %></h2>
    <h3>Description</h3>
    <p><%= puppet_function['docstring']['text'] %></p>
    <%- for tag in puppet_function['docstring']['tags'] -%>
      <%- if tag['tag_name'] == 'return' -%>
        <strong>Return:</strong> [ <%= tag['types'].join(',') %> ] <%= tag['text'] %><br/>
      <%- else -%>
        <strong><%= tag['tag_name'] %>:</strong> <%= tag['text'] %><br/>
      <%- end -%>
    <%- end -%>
  <%- end -%>
<%- end -%>
